/target
*.class

/carparkmanager-persistence/target/
/carparkmanager-service/target/
/carparkmanager-api/target/
/carparkmanager-angular/target/
/carparkmanager-rest/target/
/carparkmanager-sample-data/target/